.imageSectionStyled {
  margin-top: 5rem;
  display: flex;
}

@media screen and (max-width: 1000px) {
  .imageSectionStyled {
    flex-direction: column;
  }
  .imageSectionStyled .leftContent {
    margin-bottom: 2rem;
  }
}

.imageSectionStyled .leftContent {
  width: 100%;
}
.imageSectionStyled .leftContent img {
  width: 95%;
  object-fit: cover;
}

.imageSectionStyled .rightContent {
  width: 100%;
}
.imageSectionStyled .rightContent h4 {
  font-size: 2rem;
  color: var(--white-color);
}
.imageSectionStyled .rightContent h4 span {
  font-size: 2rem;
}

.imageSectionStyled .rightContent .paragraph {
  padding: 1rem 0;
}

.imageSectionStyled .rightContent .aboutInfo {
  display: flex;
  padding-bottom: 1.4rem;
}
.imageSectionStyled .rightContent .aboutInfo .infoTitle {
  padding-right: 3rem;
}
.imageSectionStyled .rightContent .aboutInfo .infoTitle p {
  font-weight: 600;
}

.imageSectionStyled .rightContent .aboutInfo .infoTitle p,
.imageSectionStyled .rightContent .aboutInfo .info p {
  padding: 0.3rem 0;
}
