.coolLink {
  position: relative;
  display: grid;
  place-items: center;
  overflow: hidden;
  cursor: pointer !important;
  z-index: 100 !important;
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: currentColor;
    transform-origin: right;
    transform: scale3d(0, 1, 1);
    transition: transform 0.4s ease-in-out;
  }
  & span {
    transition: transform 0.4s ease-in-out;
  }
  &::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    height: 100%;
    transition: transform 0.4s ease-in-out;
    transform: translate3d(150%, 0, 0);
    color: #fff;
  }
  &:hover::before {
    transform: scale3d(1, 1, 1);
    transform-origin: left;
  }
  &:hover::after {
    transform: translate3d(0, 0, 0);
    transform-origin: left;
  }
  &:hover span {
    transform: translate3d(-150%, 0, 0);
  }
}
.coolButton {
  position: relative;
  cursor: pointer;
  background: none;
  color: #fff;
  border: none;
  width: 175px;
  height: 120px;
  transition: all 0.5s cubic-bezier(0.585, 2.5, 0.645, 0.55);
  &:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
  &::before {
    content: "";
    // border-radius: 58% 42% 55% 45% / 56% 45% 55% 44%;
    clip-path: path(
      "M154.5, 88.5 C131,113.5 62.5, 110 30, 89.5 C-2.5, 69 -3.5, 42 4.5,25.5 C12.5, 9 33.5, -6 85, 3.5 C136.5, 13 178, 63.5 154.5, 88.5 Z"
    );
    transform: rotate(20deg);
    background-color: #fff !important;
    transition: clip-path 0.5s cubic-bezier(0.585, 2.5, 0.645, 0.55);
    border: none;
    outline: none;
  }
  &:hover:before {
    clip-path: path(
      "M143, 77 C117, 96 74, 100.5 45.5, 91.5 C17, 82.5 -10.5, 57 5.5, 31.5 C21.5, 6 79, -5.5 130.5, 4 C182, 13.5 169, 58 143, 77 Z "
    );
  }
  & span {
    mix-blend-mode: difference;
    font-weight: 500;
  }
  &::after {
    content: "";
    height: 85% !important;
    width: 95% !important;
    top: 6px;
    border: 1px solid #fff;
    border-radius: 58% 42% 55% 45% / 56% 45% 55% 44%;
    transform: rotate(-40deg) !important;
    transition: transform 0.5s cubic-bezier(0.585, 2.5, 0.645, 0.55);
  }
  &:hover:after {
    transform: translate3d(0, -5px, 0) rotate(23deg) !important;
    box-shadow: 4px 6px 15px rgba($color: #ffffff, $alpha: 0.5);
  }
  @media (max-width: 800px) {
    & {
      transform: scale3d(0.7, 0.7, 0.7);
    }
  }
  @media (max-width: 400px) {
    & {
      transform: scale3d(0.5, 0.5, 0.5);
    }
  }
}
